
  * {
    border: 1px red dashed;
  }

  body {
    padding: 40px 0;
  }

  .avatar-image {
    width:128px; 
    height:128px;
    object-fit: cover;
    border-radius: 128px;
  }

  .thumbnail {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    object-fit: cover;
  }
