/**/
  * {
    border: 1px red dashed;
  }
/**/
  html {
    min-height: 100%;
  }  

  body {
    min-height: 100%;
    padding: 40px 0;
    background: linear-gradient(90deg, #003f5b, #00405d, #004b66, #006978, #009d6c, #00b640, #42bd13, #49be00); /* made at https://learnui.design/tools/gradient-generator.html */
    color: rgba(26, 24, 163, 0.425);
    font-family: 'Lora', serif;
    
  }

  /* remove underline and change color*/
  a {
    color: rgba(26, 24, 163, 0.425);
    text-decoration: none;
  }
  .avatar-image {
    width:128px; 
    height:128px;
    object-fit: cover;
    border-radius: 128px;
  }

  .thumbnail {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    object-fit: cover;
  }

  /* center links instead of having them at the bottom of the container */
  .item {
    background-color: rgba(164, 214, 255, 0.5);
    border-radius: 1000px;
    padding: 5px;
    padding-right: 53px;
    box-shadow: 4 px 4px 10px 0px rgb(122, 32, 122);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  /* give space to link text to center it*/
  .link-text {
    text-align: center;
    flex-grow: 1;
  }


  .main-container{
    max-width: 640px;
    margin: auto;
  }

  /* give space at the bottom and align the name center */
  .image-row{
    margin-bottom: 20px;
    text-align: center;
  }

  /* set font size and make it bolder with font weight*/
  .name-row{
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

    /*
    font-size: 48px;
    font-family: "Georgia";
    */
    font-size: 24px;
    font-weight: 900;
  }

  .social-icons-row{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
  }
