
  * {
    border: 1px red dashed;
  }

  html {
    min-height: 100%;
  }  

  body {
    min-height: 100%;
    padding: 40px 0;
    color: rgb(24, 163, 43);
    background: linear-gradient(90deg, #003f5b, #00405d, #004b66, #006978, #009d6c, #00b640, #42bd13, #49be00); /* made at https://learnui.design/tools/gradient-generator.html */
  }

  a {
    color: rgb(24, 163, 43);
  }
  .avatar-image {
    width:128px; 
    height:128px;
    object-fit: cover;
    border-radius: 128px;
  }

  .thumbnail {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    object-fit: cover;
  }

  .item {
    background-color: rgba(0, 97, 176, 0.78)
  }

  .main-container{
    max-width: 640px;
    margin: auto;
  }
